[user]
	name = Leonid Petrov1
	email = leonid_petrov1@epam.com
[alias]
	logg = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(bold blue)%h%C(reset) \
	- %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  logol = log --oneline --graph
	lstree = ls-tree --full-tree -r HEAD 
[merge]
	tool = tortoisemerge
