[user]
	name = Leonid Petrov1
	email = leonid_petrov1@epam.com
[alias]
  logol = log --pretty=format:'%C(yellow)%h %C(magenta)%ad %C(cyan)%an%C(green)%d %Creset%s' --date=short
[merge]
	tool = tortoisemerge
[core]
  editor = "'C:\\Program Files (x86)\\Vim\\vim81/gvim.exe' -f -i NONE"

